{% extends "info/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container">
    <form action="." method="post">
        <div class="row">
            <div class="alert alert-dark col-5 offset-4">
                <div class="alert text-center">
                    <p class="fs-4">Регистрация</p>
                    <p class="alert alert-dark">
                        Перейдите в телеграм бот чтобы зарегистрироваться.
                    </p>
                </div>
                <div class="container text-center">
                    {% csrf_token %}
                    <a href="https://t.me/Milamin_test_bot" type="submit" class="btn btn-dark text-center">Перейти</a>
                </div>
            </div>
        </div>
    </form> 
</div>
{% endblock %}